/* Box sizing rules */
*,
*a::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    font-family: "Mulish", sans-serif;
    color: black;
    
}

main {
    display: flex;
    flex-direction: column;
    gap: 31px;
    padding: 30px 80px 0 80px;
}

main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}


main div h1 strong {
    color: rgb(74, 128, 194);
}

main div p {
    letter-spacing: 0px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 17px;
    height: 430px;
}

section div {
    align-self: stretch;
    display: flex;
    width: 100%;
    background-color: rgb(134, 155, 174);
    border-radius: 19px;
    gap: 5%;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}


div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 19px;
}

.content {
    gap: 10px;
}

.content h2 {
    margin: 0 24px;
}

.content p {
    font-size: 15px;
    margin: 0 24px;
}

button {
    font-size: 11px;
    margin: 0 24px;
    background-color: rgb(70, 110, 174);
    color: white;
    letter-spacing: 0px;
    border-radius: 30px;
    padding: 5px 22px;
    border-color: rgb(61, 57, 183);
    border-width: 0.5px;
    box-shadow: 0px 0px 1px 0.5px rgba(255,255,255);
    font-weight: bold;
}