/* Box sizing rules */
*,
*::before,
*::after {
               box-sizing: border-box;
}

*body {
               box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
               margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
               list-style: none;
}

/* Set core root defaults */
html:focus-within {
               scroll-behavior: smooth;
}

/* Set core body defaults */
body {
               min-height: 100vh;
               text-rendering: optimizeSpeed;
               line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
               text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
               max-width: 100%;
               display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
               font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
               html:focus-within {
                              scroll-behavior: auto;
               }

               *,
               *::before,
               *::after {
                              animation-duration: 0.01ms !important;
                              animation-iteration-count: 1 !important;
                              transition-duration: 0.01ms !important;
                              scroll-behavior: auto !important;
               }
}

body{
               margin: 30px 40px;
               background-color: rgb(238, 238, 238);
}

blockquote {
               font-family: Georgia, serif;
}

h1,
h2 {
               font-family: Georgia, serif;
               size: 1em;
               line-height: 1.2;
               padding: 20px 0px 10px;
}


.menu {
               width: 100%;
               

}

.logo,
.logo-menu {
               display: inline-block;
}

.logo {
               width: 70%;
               font-weight: bold;
               font-size: 30px;
}

.logo-menu {
               right: 0;
               width: 28%;
               color: green;


}

.logo-menu ul li {
               display: inline-block;
               padding: 10px;
}

main, aside{
               display: inline-block;
}
main{
               width: 74%;
}
aside{
               vertical-align: top;
               width: 25%;
}
aside h3{
               font-weight: normal;
}
aside nav li a{
               color: rgb(0, 102, 0);
               text-decoration: none;

}
aside nav ul{
               list-style: square;
}

.right-float{
               float: right;
               border: 5px solid black;
               padding: 6px;
               background-color: rgb(255, 255, 255);
               box-shadow: 0px 0px 20px 0px gray;
               width: 150px;
}

.citat{
               font-style: italic;
               line-height: 2em;
               display: inline-block;
               width: 39%;   
               border-left: 3px solid lightgray;
               padding-left: 50px;
               font-size: small;
               vertical-align: top;
}
.citat p{
               text-align: right;
               padding: 10px;
}
.citat-befor{
               width: 60%;
               display: inline-block;
}

.left-float{
               float: left;
               border: 5px solid black;
               padding: 6px;
               background-color: rgb(255, 255, 255);
               box-shadow: 0px 0px 20px 0px gray;
               width: 150px;
               margin: 10px;
}




