body{
               font-family: Helvetica, sans-serif;
               background-color: rgb(238, 238, 238);
               color: rgb(51, 51, 51);
               display: inline-block;

}
article, aside{
               display: inline-block;
}
article{
               width: 80%;
}
aside{
               float: right;
               width: 20%;
}
img{
               width: 60%;
}