* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    padding: 2em;
    font: 14px/1.5 Lato, sans-serif;
}

.site {
    width: 1100px;
    margin: 0 auto;
    padding: 2em;
    background: #fff;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0,0.2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em;
}

.site>* {
    border: 1px solid #ccc;
    border-radius: 0.3em;
    padding: 1em;
}

.site-header,
.site-footer {
    flex: 1 1 100%;
}

.site-content {
    flex: 1 1 650px;
}

.site-sitebar {
    flex: 1 0 250px;
}

@media (min-width: 900px) {
    .site {
        flex-direction: row;
    }
}