/* Box sizing rules */
*,
*a::before,
*::after {
               box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
               margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
               list-style: none;
}

/* Set core root defaults */
html:focus-within {
               scroll-behavior: smooth;
}

/* Set core body defaults */
body {
               min-height: 100vh;
               text-rendering: optimizeSpeed;
               line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
               text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
               max-width: 100%;
               display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
               font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
               html:focus-within {
                              scroll-behavior: auto;
               }

               *,
               *::before,
               *::after {
                              animation-duration: 0.01ms !important;
                              animation-iteration-count: 1 !important;
                              transition-duration: 0.01ms !important;
                              scroll-behavior: auto !important;
               }
}

body{
               padding: 114px 200px 20px 200px;
               /* font-family: Helvetica, sans-serif; */
               overflow: hidden;
               color: rgb(117, 117, 117);
}

.headings{
               font-size: Georgia, serif;
               color: black;
}

p, button{
               font-family: Helvetica, sans-serif;
}

header{
               margin-bottom: 30px;
}

header h1{
               font-size: 50px;
}
header p{
               color: rgb(113, 113, 126);
}

main{
               display: flex;
               flex-direction: row;
               position: relative;
}
div{
               flex-basis: 50%;
}

.content h4{
               font-size: 20px;
               margin-bottom: 20px;
}

.button{
               align-self: flex-end;
               flex-basis: 36%;

}

button{
               background-color: rgb(3, 168, 124);
               border: 1px solid rgb(3, 168, 124);
               color: white;
               padding: 10px 50px;
               font-weight: bold;
}

.content p span{
               background-color: rgb(206, 253, 233);
}

main::after{
               content: "";
               width: 350px;
               height: 1px;
               display: block;
               background-color: rgb(113, 113, 126);
               position: absolute;
               top: 130%;
               left: 25%;


}




